.auth-form {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__errors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    margin-top: 8px;

    &-message {
      color: var(--color-warn);
    }
  }
}

@media (max-width: 720px) {
  .auth-form {
    &__form {
      gap: 12px;
    }
  }
}
