<form [formRoot]="loginForm" class="register-form">
  <div class="form-group">
    <input
      type="email"
      [formField]="loginForm.email"
      placeholder="E-mail"
      autocomplete="email"
    />
    @if (loginForm.email().touched() && loginForm.email().errors(); as errors) {
      <div class="errors">
        @for (err of errors; track $index) {
          <small class="error-message">{{ err.message }}</small>
        }
      </div>
    }
  </div>

  <div class="form-group">
    <input
      type="password"
      [formField]="loginForm.password"
      placeholder="Пароль: минимум 6 символов"
      autocomplete="new-password"
    />
    @if (
      loginForm.password().touched() && loginForm.password().errors();
      as errors
    ) {
      <div class="errors">
        @for (err of errors; track $index) {
          <small class="error-message">{{ err.message }}</small>
        }
      </div>
    }
  </div>

  <button
    type="submit"
    class="submit-btn"
    [disabled]="loginForm().submitting()"
  >
    @if (loginForm().submitting()) {
      <span class="spinner"></span> Подождите...
    } @else {
      Войти
    }
  </button>

  @if (loginForm().errors(); as errors) {
    <div class="form-errors">
      @for (err of errors; track err.kind) {
        <small class="error-message">{{ err.message }}</small>
      }
    </div>
  }
</form>
